body {
  margin: 0;
}

ul li {
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.controls {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-auto-rows: 50px;
  background: black;
  border: 1px solid black;
  gap: 1px;
}
.board .tile {
  padding: 5px;
  background: white;
}
.board .tile.chute {
  background: pink;
}
.board .tile.ladder {
  background: lightblue;
}

.player {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.player-1 {
  background: gold;
}
.player-2 {
  background: lightblue;
}
.player-3 {
  background: red;
}
.player-4 {
  background: lightgreen;
}
